# Tell Linguist what languages to treat files as

# Java code
* linguist-language=Java

# XML (Android layouts, drawables, etc.)
* linguist-language=XML
* linguist-language=XML

# Python code
* linguist-language=Python
* linguist-language=Python

# Shell scripts
* linguist-language=Shell

# JSON data
* linguist-language=JSON

# Treat Jupyter notebooks as Python
*.ipynb linguist-language=Python

*.* linguist-detectable=true

