mobileApp/app/src/**/*.java linguist-language=true
*.js linguist-language=true
*.html linguist-language=true
mobileApp/res/**/*.xml linguist-language=true
audioFingerprintingAlgorithm/*.py linguist-language=true
audioFingerprintingAlgorithm/tests/*.py linguist-language=true
scripts/*.sh linguist-language=true
audioFingerprintingAlgorithm/*.ipynb linguist-language=true
audio/metadata/*.json linguist-language=true

